# macOS
.DS_Store

# Xcode
DerivedData/
.DerivedData/
DerivedData-*/
*.xcresult
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build products
build/
*.ipa
*.dSYM.zip
*.dSYM

#Symlink
Build

# Swift Package Manager
.build/
Packages/
Package.resolved

# SwiftPM (Xcode integration)
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Logs
*.log

# StoreKit local testing artifacts
*.storekituser
*.storekitstate

# Fastlane (if you ever add it)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
